h2 {
    margin: 1rem;
}

.hidden {
    visibility: hidden;
    display: none;
}

.board {
    border-radius: 2px;
    border-style: solid;
    min-width: 16rem;
    max-width: 16rem;
    min-height: 25rem;
}

.description{
    padding: 0.6rem;
    max-width: 9rem;
    min-width: 9rem;
}

.board-header{
    display: inline-flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.big-button{
    align-self: flex-start;
    cursor: pointer;
}

.x-button{
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    width: 20px;
    align-self: center;
}